---
layout: default
title: Buttons
group: "components"
---
<div>
	<h1>Buttons</h1>	
	
	<h2>Button variations</h2>
	
	<h3>Primary Action</h3>
	<p>Add to Bag</p>
	
	<h3>Secondary Action</h3>
	<p>Add to Wishlist, Find in Store</p>
		
	<h3>Transactional</h3>
	<p>Check Out Now, Place My Order</p>
		
	<h3>Form Submit</h3>
	<p>About...</p>
		
	<h3>Call to action link</h3>
	<p>Shop now, Shop the category, Shop the story</p>
		
	<h3>Link button</h3>
	<p>About...</p>
		
	<h3>Link button / subtle</h3>
	<p>About...</p>
		
	<h3>Rewards</h3>
	<p>About...</p>
	
	<h2>Usage</h2>
	{% highlight javascript linenos %}
	def foo
	  puts 'foo'
	end
	{% endhighlight %}
</div>